.fg-auth {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10vh;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 7px 7px 20px 2px rgba(0, 0, 0, 0.5);
}

.email-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.email-auth label {
    display: block;
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-weight: 700;
    color:#161b2ac1;
}

.email-auth input {
    width: 55%;
    border-radius: 50px;
    padding: 3px 12px;
    font-size: 0.9rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.email-auth #fg-btn {
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #243769;
    color: white;
    margin-top: 3px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 0.8rem;
    transition: 0.1s;
} 

.email-auth #fg-btn:hover {
    margin-top: 0px;
    margin-bottom: 18px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
} 

.logo-mail-lock {
    /* border: 1px solid black; */
    /* position: relative; */
    /* background-color: #61718c; */
}

.logo-mail-lock p {
    font-size: 0.8rem;
    margin-top: -20px;
    margin-bottom: 40px;
    font-weight: 600;
    color:#243769d0;
}

#mail-icon {
}

#lock-icon {
    margin-left: -50px;
    margin-bottom: 15px;
    color:  #243769;
}

@media screen and (max-width: 600px) {
    .fg-auth {
        padding: 30px 10px;
        margin-left: 13vw;
    }

    .email-auth label {
        margin-bottom: 30px;
    }

    .email-auth input {
        width: 75%;
        margin-bottom: 25px;
    }

    .email-auth #fg-btn {
        margin-bottom: 30px;
    }
}