.YourLibrary .your-feed {
    background-color: #fffe;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
    width:  min(85%, 800px);
    /* min-height: 70vh; */
    min-height: 95%;
    max-height: 95vh;
    margin: 10px auto;
    border: 1px solid #595959;
    border-radius: 2px;
    overflow-y: scroll;
    overflow-x: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width:600px){
    .YourLibrary .your-feed {
        width: 90%;
    }      
}